{
    "hypervisor hostname": "{{ hostname|default("") }}",
    "service_host name": "{{ service_host|default("") }}",
    "interfaces": [
{% set comma = joiner(', ') %}
{% for interface in interface_json.results -%}
        {% if interface.stdout %}
            {{ comma() }}{{ interface.stdout }}
        {% endif %}
{%- endfor %}
     ]
}
