{
    "hypervisor hostname": "{{ hostname|default("") }}",
    "service_host name": "{{ service_host|default("") }}",
    "interfaces": [
{% for interface in interface_json.results %}

        {{ interface.stdout }}{% if not loop.last%},{% endif %}

{% endfor %}
     ]
}
